{% extends "layout.html" %}

{% block content %}


<div class="container">

    <h1 style="text-align: center;">About</h1>
  

    <p class="text-about">
        <img src="https://static8.depositphotos.com/1311503/875/i/600/depositphotos_8758702-stock-photo-insant-camera-kid.jpg"
        class="img-thumbnail foto-about" alt="foto_de_about">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae asperiores reiciendis optio eos illum recusandae
        unde harum non error explicabo laudantium iusto maxime a excepturi molestias inventore, illo debitis magni!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quia deleniti est quam blanditiis quasi
        ratione unde, esse ipsa, mollitia error explicabo perspiciatis natus earum quos necessitatibus odit debitis
        eveniet.
    </p>






</div>



{% endblock %}